.first-element{
  background-color: blue;
}
.second-element{
  background-color: purple;
}
.third-element{
  background-color: #ff0000;
}
.forth-element{
  background-color: orange;
}
.fifth-element{
  background-color: yellow;
}
.sixth-element{
  background-color: green;
}
.seventh-element{
  background-color: lightblue;
}
.eigth-element{
  background-color: pink;
}
